<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cameraTestExpand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ACDB8D91BC76A14001483A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACDB8F21BC76A14001483A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACDB8FD1BC76A14001483A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
